body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
    font-family: Arial, sans-serif;
}
.container {
    text-align: center;
}
.light-box {
    width: 300px;
    height: 150px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
}

#toggle-button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: blue;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#toggle-button:active {
    background-color: blue;
}
